@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
.ant-card,
.ant-pro-page-container-warp {
  margin-right: 6px !important;
  margin-left: 3px !important;
  border-radius: 10px !important;
}
.ant-modal-body {
  padding: 10px 15px;
}
.ant-pro-page-container-children-content {
  margin: 5px;
}
.ant-pro-table-search {
  height: 44px !important;
  margin: 3px 6px 3px 3px !important;
  padding: 6px 6px 6px 24px !important;
  border-radius: 10px;
}
.ant-modal-header {
  border-radius: 10px !important;
}
.ant-tabs-tab,
.ant-tabs-tab-active {
  padding-top: 0;
}
.ant-tabs-nav {
  margin: 0 0 8px 0 !important;
}
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-btn,
.ant-form-item textarea.ant-input,
.ant-upload .ant-upload-drag,
.ant-modal-content,
.ant-input-number {
  border-radius: 10px !important;
}
.ant-pro-table-list-toolbar-container {
  padding: 6px !important;
}
